*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #3d3d3d,#808080);
  
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-brand{
    color: #fff !important;
    font-weight: 800;
}

.fa-bars{
    color: #fff !important;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}